.App {
  display:flex;
  background-color: rgb(27, 64, 85);
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

main {
  width: 100%;
  height: calc(100vh - 50px);
  background: rgb(189, 179, 161);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.main_menu
{
  display: flex;
  flex: none;
  background: #0097A7;
  color:#BDBDBD;
  height: 50px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main_menu > a
{
  text-decoration: none;
  display: flex;
  font-size: 1.5em;
}

.active
{
  color:#fff;
}
