a{
  text-decoration: none;
}

.App {
  display:flex;
  background-color: rgb(27, 64, 85);
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

main {
  width: 100%;
  height: calc(100vh - 50px);
  background: rgb(189, 179, 161);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.main_menu
{
  display: flex;
  flex: none;
  background: #3D7648;
  color:#BDBDBD;
  height: 90px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main_menu > a
{
  text-decoration: none;
  display: flex;
  font-size: 1.5em;
  color:#fff;
  padding-left: 20px;
  padding-right: 20px;
}

.active
{
  display: flex;
  background: #fff;
  color:#3D7648!important;
  height: 90px;
  align-items: center;
}

.zagolovok_main{
  text-align: center;
}

.table_custom {
  border: 1px solid black;
  border-spacing: 0px;
  background: white;
  border-collapse: separate;
}

.table_custom th{
  border: 1px solid black;
}

.table_custom td{
  border: 1px solid black;
}

.main_block{
  margin-left: 20px;
  margin-right: 20px;
}

.btn_custom{
  font-size: 18px;
  margin-top: 10px;
  border-radius: 0px;
  border-color: black;
  padding: 8px 12px 8px 12px;
  background: #3D7648;
  color: white;
  cursor: pointer;
  float: right;
}

.btn_custom_l{
  font-size: 18px;
  margin-top: 10px;
  border-radius: 0px;
  border-color: black;
  padding: 8px 12px 8px 12px;
  background: #3D7648;
  color: white;
  cursor: pointer;
}

.btn_custom_small{
  border: 1px solid black;
  border-radius: 0px;
  border-color: black;
  background: #CC2121;
  color: white;
  cursor: pointer;
  vertical-align: middle;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px 5px 3px 5px;
  margin-right: 1px;
}

.btn_edit_custom1{
  background: #3D7648;
  color: white;
  cursor: pointer;
  border-color: black;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 5px 3px 5px;
}

.btn_edit_custom{
  background: #3D7648;
  color: white;
  cursor: pointer;
  border-color: black;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 5px 0px 5px;
}

.cst{
  height: 30px;
  text-align: center;
}

.main_block2{
  margin-left: 20px;
  margin-right: 20px;
}

.main_block2 label{
  margin-right: 10px;
}

.logo_custom img{
  height: 90px;
}

@media only screen and (max-width: 780px) {
  .logo_custom img{
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  .main_menu > a{
    text-decoration: none;
    display: flex;
    font-size: 18px;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main_menu{
    height: 50px;
  }
}

